[Unit]
Description=Containerized nginx with certbot
#Wants=php.container

[Container]
ContainerName=nginx
Pod=shmashmexa.pod
Image=localhost/shmashmexa_nginx


[Service]
Restart=always

#Avoids restarting too fast
RestartSec=5

#Default for systemd is 90 seconds. This allows the container more time to start.
TimeoutStartSec=900
#Wait 10 seconds before attempting a restart
RestartSec=10

[Install]
# Start by default on boot
WantedBy=default.target